<table border="2" width="350px"  >
  <p-table [value]="Array1" [scrollable]="true" scrollHeight="250px" >
    <ng-template pTemplate="body"  let-chat1>
      <tr >
        {{chat1.message}}
      </tr>
    </ng-template>
  </p-table>

  <p align="center"><input  id="input" type="text" [(ngModel)]="chat2.message" >
    <button pButton label="ارسال" class="ui-button-rounded" (click)="save()" ></button>
  </p>

</table>

