<table border="2" width="350px"  >
  <p-table [value]="Array2" [scrollable]="true" scrollHeight="250px" >
    <ng-template pTemplate="body" let-chat2>
      <tr >
        {{chat2.message}}
      </tr>
    </ng-template>
  </p-table>

 <p align="center"  ><input  id="input" type="text" [(ngModel)]="chat1.message" >
   <button pButton label="ارسال" class="ui-button-rounded"  (click)="save()"></button>
 </p>

</table>
