<table border="2" width="1350px">
<table border="2" width="1100px" style="float: left" >
  <br>
  <p dir="rtl" style="margin:50px"> ... نام و نام خانوادگی ... <input type="text" [(ngModel)]="employee.name" style="margin-right:50px" /> </p>
  <p dir="rtl" style="margin:50px">  ........ سن کارمند ........ <input type="text" [(ngModel)]="employee.age" style="margin-right:50px" /></p>
  <p dir="rtl" style="margin:50px">...... حقوق کارمند ....... <input type="text" [(ngModel)]="employee.salary" style="margin-right:50px"/></p>
  <p dir="rtl" style="margin:50px">
   <a href="./login/employee/employee-list"><button style="margin-bottom: 252px" pButton label="ثبت" class="ui-button-rounded ui-button-success" (click)="saveEmployee()" ></button></a>
  </p>
</table>

<table border="2" width="240px" style="float: right" dir="rtl">
  <button pButton label="منو" class="ui-button-rounded ui-button-warning" ></button>
  <br>
  <br>
  <br>
  <a href="./login/employee/employee-list"><button pButton label="مدیریت کارمندان" class="ui-button-rounded ui-button-secondary" ></button></a>
  <br>
  <br>
  <a href="./login/chat/parent-chat"><button style="margin-bottom: 466px" pButton label="چت" class="ui-button-rounded ui-button-secondary"  ></button></a>
</table>
</table>
