<table border="2" width="1350px">

  <app-chat1 style="float: left" align="center" [chatArray2]="chatArray2" (saveMessage1)="save1($event)"></app-chat1>
  <app-chat2 style="float: left" align="center" [chatArray1]="chatArray1" (saveMessage2)="save2($event)"></app-chat2>

<table border="2" width="240px" style="float: right" dir="rtl">
  <button pButton label="منو" class="ui-button-rounded ui-button-warning" ></button>
  <br>
  <br>
  <br>
  <a href="./login/employee/employee-list"><button pButton label="مدیریت کارمندان" class="ui-button-rounded ui-button-secondary" ></button></a>
  <br>
  <br>
  <a href="./login/chat/chat"><button style="margin-bottom: 466px" pButton label="چت" class="ui-button-rounded ui-button-secondary"  ></button></a>
</table>
</table>
