<table border="2" width="650px" dir="rtl" align="center" style="margin-top:50px" >
  <tr style="background-color: gold"> <h2 align="center"  > سیستم مدیریت کارمندان </h2></tr>
  <br>
  <p align="center" style="margin:50px">نام کاربری  <input [(ngModel)]="username" type="text"  /></p>
  <p align="center" style="margin:50px">رمز عبور  <input [(ngModel)]="password" type="password"  /></p>

  <p align="center" style="margin:50px">
  <button pButton label="ورود" class="ui-button-rounded ui-button-success" (click)="doLogin()" ></button>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
</table>
