<table border="2" width="1350px">
<table border="2" width="1100px" style="float: left">
<p dir="rtl"><a href="./login/employee/register-employee"><button pButton label="ثبت کارمند جدید" class="ui-button-rounded"  ></button></a></p>
<p-table [value]="employeeList" [scrollable]="true" scrollHeight="500px">
  <ng-template pTemplate="header">
    <tr >
      <th> حذف  </th>
      <th> حقوق  </th>
      <th> سن  </th>
      <th> نام و نام خانوادگی  </th>
      <th> کد  </th>
    </tr>
  </ng-template>
  <ng-template  pTemplate="body" let-employee>
    <tr align="center">
      <td ><button pButton label="حذف" class="ui-button-rounded ui-button-danger" (click)="deleteEmployee(employee.id)" ></button></td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.employee_age}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.id}}</td>
    </tr>
  </ng-template>
</p-table>
  <br>
</table>

  <table border="2" width="240px" style="float: right" dir="rtl">
  <button pButton label="منو" class="ui-button-rounded ui-button-warning" ></button>
  <br>
  <br>
  <br>
  <a href="./login/employee/employee-list"><button pButton label="مدیریت کارمندان" class="ui-button-rounded ui-button-secondary" ></button></a>
  <br>
  <br>
  <a href="./login/chat/parent-chat"><button style="margin-bottom: 467px" pButton label="چت" class="ui-button-rounded ui-button-secondary"  ></button></a>
</table>
</table>
